DATABASE_URL="file:shootareas.db"
TURSO_AUTH_TOKEN=""

VITE_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET="shootareas-media"
R2_PUBLIC_URL="https://pub-e7433b3fddc842f6a86936e0c66597b5.r2.dev"
